obj/Debug/net6.0/VSCode.dll
bin/Debug/net6.0/VSCode.dll
bin/Debug/net6.0/VSCode.pdb
bin/Debug/net6.0/VSCode.dll
bin/Debug/net6.0/VSCode.pdb
obj/Debug/net6.0/VSCode.assets.cache
obj/Debug/net6.0/VSCode.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/VSCode.dll
obj/Debug/net6.0/VSCode.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/VSCode.pdb
obj/Debug/net6.0/ref/VSCode.dll
obj/Debug/net6.0/refint/VSCode.dll
