obj/Debug/net6.0/VSCode.dll
bin/Debug/net6.0/VSCode.dll
bin/Debug/net6.0/VSCode.pdb
bin/Debug/net6.0/VSCode.dll
bin/Debug/net6.0/VSCode.pdb
obj/Debug/net6.0/VSCode.assets.cache
obj/Debug/net6.0/VSCode.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/VSCode.dll
obj/Debug/net6.0/VSCode.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/VSCode.pdb
obj/Debug/net6.0/ref/VSCode.dll
obj/Debug/net6.0/refint/VSCode.dll
bin/Debug/net6.0/VSCode.deps.json
bin/Debug/net6.0/VSCode.exe
bin/Debug/net6.0/VSCode.runtimeconfig.json
obj/project.assets.json
obj/project.nuget.cache
obj/VSCode.csproj.nuget.dgspec.json
obj/VSCode.csproj.nuget.g.props
obj/VSCode.csproj.nuget.g.targets
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/VSCode.AssemblyInfo.cs
obj/Debug/net6.0/VSCode.AssemblyInfoInputs.cache
obj/Debug/net6.0/VSCode.csproj.AssemblyReference.cache
obj/Debug/net6.0/VSCode.csproj.FileListAbsolute.txt
obj/Debug/net6.0/VSCode.genruntimeconfig.cache
obj/Debug/net6.0/VSCode.GlobalUsings.g.cs
